<h1 class="title">Productos en Tiempo Real</h1>

<ul id="productList" class="product-list">
    <li>
        <!-- Products list from script -->
    </li>
</ul>

<hr class="divider">

<h2 class="title">Agregar Producto</h2>
<form id="productForm" class="form-container">
        <input type="text" id="title" placeholder="Título" required>
        <input type="text" id="description" placeholder="Descripción" required>
        <input type="number" id="price" placeholder="Precio" required>
        <input type="text" id="thumbnail" placeholder="Imagen (URL)">
        <input type="text" id="code" placeholder="Código" required>
        <input type="number" id="stock" placeholder="Stock" required>
        <input type="text" id="category" placeholder="Categoría" required>
        <label>
            <input type="checkbox" id="status" checked> Activo
        </label>
        <button type="submit">Agregar</button>
</form>
